.user-form {
  display: flex;
  flex-direction: column;

  & .input-container {
    margin-bottom: 20px;
  }

  & .input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 198px;
  }

  .error-message.error-validation {
    margin-top: 16px;
  }

  .error-general {
    margin-bottom: 16px;
  }

  button {
    margin-bottom: 20px;
  }
}
