.launches-list-container {
  padding: 20px;

  .launches-list {
    display: grid;
    padding-top: 50px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 413px));
    justify-content: center;
    column-gap: 37px;
    row-gap: 37px;
  }

  .pagination {
    margin-top: 20px;
  }

  .search-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: end;
  }

  .pagination-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: end;
  }
}
