.pagination {
  display: flex;
  align-items: center;
  gap: 4px;

  div {

    height: 32px;
    padding: 5px;
    display: flex;
    align-items:center;
    justify-content: center;
    &.active {
      padding: 0;
      width: 32px;
      border-radius: 20px;
      background: white;
      color: black;
    }

    &:not(.active) {
      cursor: pointer;
    }
  }

  svg {
    cursor: pointer;
    
    &:not(.disabled) {
      path {
        stroke-opacity: 1;
      }
    }

    &.chevron-left {
      margin-right: 5px;
    }

    &.chevron-right {
      margin-left: 5px;
      transform: rotate(180deg);
    }
  }
}