.search-input {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffff;
  padding: 0 16px;
  width: 300px;

  input {
    border: none;
    outline: none;
    width: 100%;
    padding: 8px;
  }

  .search-icon {
    color: #000;
  }

  .close-icon {
    color: #000;
    cursor: pointer;
  }
}