.login-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;

  & img {
    margin-bottom: 20px;
  }

  & .link {
    color: #FFFFFF91;
  }
}

